<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="description" content="words">
	<meta name="keywords" content="HTML, CSS, JavaScript">
	<meta name="author" content="Joey Greco">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
	<title>leegerUI</title>
</head>

<body>
<div id="title">
	<h1>leegerUI</h1>
	<h4>Instant stats for your fantasy football league.</h4>
</div>
<div id="content">
	<p>content here</p>
</div>
</body>

</html>